{% extends 'base.html.twig' %}

{% block body %}

    <div class="container padding-gallery">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Video</h1><hr>
        </div>

        <!------------ Buttons ----------->
        <div align="center">
            <button class="btn btn-default filter-button" data-filter="viss">Viss</button>
            <button class="btn btn-default filter-button" data-filter="elektroniskas">Elektroniskās</button>
            <button class="btn btn-default filter-button" data-filter="vesturiskas">Vēsturiskās</button>
            <button class="btn btn-default filter-button" data-filter="latinamerikas">Latīņamerikas</button>
            <button class="btn btn-default filter-button" data-filter="tradicionalas">Tradicionālās</button>
            <button class="btn btn-default filter-button" data-filter="briva_stila">Brīvā stila</button>
            <button class="btn btn-default filter-button" data-filter="ielu">Ielu</button>
            <button class="btn btn-default filter-button" data-filter="swinga">Swinga</button>
        </div>
        <br/>

{#        <!------------ Video ----------->#}
{#        <section class="video">#}
{#            <div class="row">#}

{#                <!------------ Tradicionālās dejas ----------->#}
{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LAU8eBek_NU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LBQOfyR75vY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gnShYclU4pM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RAilVv3zgsU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jN4dXenlxbI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PUTnzzO2Odg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_NZTkFUNq5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MstY9LOfdYQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KKAMbkm0ZFs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter tradicionalas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bl3s6PORZf0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <!------------ Brivā stila dejas ----------->#}
{#                <div class="col-md-6 filter briva_stila">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_iOq-_NEXzA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <!------------ Ielu dejas ----------->#}
{#                <div class="col-md-6 filter ielu">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNxQQUAIGeI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter ielu">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y_uw_rSA2Qc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter ielu">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uGJNhkEWXhI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter ielu">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aj2yjPHGVX0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter ielu">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F2TSy0Z5qTE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter ielu">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R_kDD9p8_V8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <!------------ Elektroniskās mūzikas dejas ----------->#}
{#                <div class="col-md-6 filter elektroniskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W8XK3dLs6mI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter elektroniskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DFkOynj6_ZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter elektroniskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1oTUupME0-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter elektroniskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/my8f1WGnN_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <!------------ Vēsturiskās dejas ----------->#}
{#                <div class="col-md-6 filter vesturiskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o4BFhVh6CN0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter vesturiskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qm-E04AbJHc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter vesturiskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zV1qLYukTH8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter vesturiskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Wz_f9B4pPtg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter vesturiskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bQ9g5zFQwEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter vesturiskas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Be59_bdC-6w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <!------------ Latīņamerikas dejas ----------->#}
{#                <div class="col-md-6 filter latinamerikas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ERvTs4I7Xtk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter latinamerikas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7oxUIWiJIdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter latinamerikas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LCszIfVPdtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter latinamerikas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q-AsgkzyHe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter latinamerikas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/03aJ8qOqo2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter latinamerikas">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vtT8k1-bV7Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <!------------ Swinga dejas ----------->#}
{#                <div class="col-md-6 filter swinga">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gOu98uHozNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter swinga">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PYuYojyDwN4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter swinga">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1g6ZMa98zgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter swinga">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zoMYU_nOGNg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter swinga">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NjWQgLsyggI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-6 filter swinga">#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k0BgxtFZkoM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}

{#            </div>#}
{#        </section>#}

    </div>

{% endblock %}