{% extends 'base.html.twig' %}

{% block body %}

    <!-- Section - Elektroniskās mūzikas dejas  -->
    <section class="Elektroniskas-muzikas-dejas">
        <div class="box">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="info-text">

                            <!------------ Elektroniskās mūzikas dejas ----------->
                            <h1 class="fade-in align-self-center text-center text-md-center">Elektroniskās mūzikas dejas</h1><hr class="fade-in">

                            <p class="fade-in align-self-center text-center text-md-center">Pie jaunākās un populārākās
                                elektroniskās mūzikas arī ir iespējams dejot un šeit tad ir tādi deju stili, kā
                                graindošana, brīvais steps, disko dejas, elektro dejas, lēkāšana, shuffle un vēl citi
                                mazāk zināmi stili. Kopumā šīs dejas ir populāras tieši nakts klubos un citās vietās,
                                kur tiek spēlēta jaunākā tipa mūzika.</p>

                            <!------------ Elektro dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Elektro dejas</h3>

                            <p class="fade-in">Elektro deja (citādi pazīstama kā Tecktonik un Milky Way) ir nedabiska
                                un dīvaina deju forma, ko parasti izpilda elektro house mūzika. Tās pamatā ir, lai gan
                                ne tikai, dažādu deju stilu sajaukums, piemēram, industriālā deja, morokāna chaabi,
                                diskotēka, vogue, waakking, hip-bones un brīvroku glowsticking. Tā sākās 2000. gados
                                un radās Parīzes dienvidu priekšpilsētā Francijā, galvenokārt no Metropoles
                                naktsklubiem, un ir augusi visā pasaulē. No Ziemeļeiropas ievestā ātrā techno un
                                electro house mūzika ir ierastā Tecktonik deju izvēle.</p>

                            <p class="fade-in">Elektro deja pārsvarā ir par roku kustību, ņemot pamatelementus kā
                                Brīvrokas jēdziens un “Leading Hand” ideja (no vienas puses ģeometriski seko otrai),
                                paliekot ļoti diskotēkas gaumē, pastiprinot punktus un pozējot kā galvenais šī stila
                                aspekts. Lejā, lejā, elektro dejotāji mēdz izmantot savus gurnus, ceļgalus un kājas,
                                lai viegli šļūktu pa grīdu, uzbrūkot mūzikai, bieži vien nejaušā un raupjā veidā. Tie
                                parasti ietver arī toprock, b-boy-like foot-work, letter to hip-wake-like efektus
                                vairākos electro house mūzika.</p>

                            <a href="{{ asset('images/ElektroniskasMuzikas_dejas/electro-dance.jpg') }}" data-lightbox="elektro_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/ElektroniskasMuzikas_dejas/electro-dance.jpg') }}" alt="Elektro dejas">
                            </a>

                            <!------------ Shuffle deja ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Shuffle deja</h3>

                            <p class="fade-in">Shuffle notika Melburnā, Austrālijā, pagrīdes vētrainajā ainā
                                deviņdesmito gadu sākumā. Tieši šeit deju nosauca par “Melburnas Shuffle”. Kopš tā
                                laika tas ir attālinājies un kļuvis ļoti populārs vispārējā EDM festivāla ainā, ko
                                praktizē miljoniem EDM fanu visā pasaulē.</p>

                            <p class="fade-in">Shuffle sastāv no diviem pamatgājieniem: Shuffle un Stomp. Lielākā daļa
                                iesācēju, pirms pāriet uz progresīvākiem gājieniem, mācās apgūt šīs divas pamatkustības.
                                Pēc tam, kad esat veicis darbības, jūs varat pievienot dažus apgriezienus, lēcienus un
                                slaidus, un jums ir pilnīga Shuffle rutīna. Pēc tam vienīgais, kas jums vajadzīgs, ir
                                EDM, kas plūst cauri skaļruņiem, lai varētu sākt izklaidi.</p>

                            <a href="{{ asset('images/ElektroniskasMuzikas_dejas/shuffle-dance.jpg') }}" data-lightbox="shuffle_dejas">
                                <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/ElektroniskasMuzikas_dejas/shuffle-dance.jpg') }}" alt="Shuffle deja">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}