{% extends 'base.html.twig' %}

{% block body %}

    <!-- Section - Swinga dejas  -->
    <section class="Swinga-dejas">
        <div class="box">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="info-text">
                            <h1 class="fade-in align-self-center text-center text-md-center">Swinga dejas</h1><hr class="fade-in">

                            <p class="fade-in align-self-center text-center text-md-center">Mūsdienās vairs nav
                                populāras, bet šeit tiek ietverti tādi stili, kā jeivs (jewish), leroks (LeRock),
                                dename un balboa. Kopumā swinga dejas vēl jo projām ir sastopamas dažādās pasaules
                                vietās bet to popularitāte ar katru gadu sarūk.</p>

                            <!------------ Jeiva dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Jeiva dejas</h3>

                            <p class="fade-in">Jeiva jeb ebreju deja attiecas uz dejām, kas saistītas ar ebrejiem un
                                jūdaismu. Deju jau sen izmanto ebreji kā līdzekli prieka un citu sabiedrisku emociju
                                izpausmei. Dejošana bija iecienīts pasākums, un tai bija svarīga loma reliģiskā
                                stāvokļa ievērošanā.</p>

                            <p class="fade-in">Dejas, kas saistītas ar Aškenazi un Sephardi tradīcijām, īpaši ebreju
                                kāzu dejas, ir neatņemama ebreju dzīves sastāvdaļa Amerikā un visā pasaulē. Tautas
                                dejas, kas saistītas ar cionismu un Izraēlas valsts veidošanos, kļuva populāras
                                1950. gados.</p>

                            <img class="img-fluid rounded mx-auto d-block image-padding fade-in"
                                 src="{{ asset('images/Swinga_dejas/jewish-dance.jpg') }}" alt="Jeiva dejas">

                            <!------------ Leroka dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Leroka dejas</h3>

                            <p class="fade-in">Leroka ir moderna ebreju forma, dejas stils, kas astoņdesmitos gados
                                attīstījās no dejām, ieskaitot Swing, Lindy Hop, Rock and Roll. Galvenais jauninājums
                                bija kājas darba vienkāršošana, padarot Leroku ļoti pielāgojamu dažādiem mūzikas
                                veidiem 4-ritmā, ātri vai lēni.</p>

                            <p class="fade-in">Pēc konkrētā skolotāja domām, tajā var būt iekļauti citi deju stilu
                                elementi, tostarp Salsa un Tango.</p>

                            <img class="img-fluid rounded mx-auto d-block image-padding fade-in"
                                 src="{{ asset('images/Swinga_dejas/leroc-dance.jpg') }}" alt="Leroka dejas">

                            <!------------ Balboa dejas ----------->
                            <h3 class="fade-in align-self-center text-center text-md-center text-header-padding"
                                id="stepa-dejas">Balboa dejas</h3>

                            <p class="fade-in">Balboa ir Swinga deja, kuru izcelsme ir Dienvidkalifornijā divdesmito
                                gadu laikā (lai gan tās, iespējams, sākās jau 1915. gadā) un kuras guva lielu
                                popularitāti 1930. un 1940. gados. Termins Balboa sākotnēji attiecās uz deju, ko
                                raksturo tās ciešais apskāviens un pilnais ķermeņa savienojums. Tas uzsver ritmiskas
                                svara maiņas un pavadoņa-sekojuma partnerību. Dažādi dejotāji tajā pašā reģionā
                                vienlaikus dejoja arī Swinga deju, ko raksturo virpuļošana, pagriezieni un atklāta
                                pozu kustība.</p>

                            <p class="fade-in">Laika gaitā abas dejas apvienojās un kļuva par Balboa kolektīvu.
                                Oriģinālā Balboa deja tagad tiek dēvēta par Pure Balboa, un oriģinālā Swinga deja
                                tagad tiek dēvēta par Bal-Swing jeb L.A. Swing, lai atšķirtu to no cita veida Swinga
                                dejam. Ņemot vērā to, ka Balboa (jo īpaši Pure Balboa) ir uzsvars uz subtu un
                                partnerattiecībām, nevis uz spilgtiem trikiem, Balboa tiek vairāk uzskatīta par
                                “dejotāja deju” nekā par “skatītāja deju”.</p>

                            <img class="img-fluid rounded mx-auto d-block image-padding fade-in"
                                 src="{{ asset('images/Swinga_dejas/balboa-dance.jpg') }}" alt="Balboa dejas">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}