{% extends 'base.html.twig' %}

{% block body %}

    <!-- Section - Dejas attistība -->
    <section class="Par-mani">
        <div class="box">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="info-text">
                            <h1 class="fade-in align-self-center text-center text-md-center">Par mani</h1><hr class="fade-in">

                            <img src="{{ asset('images/Profila_bilde.jpg') }}" alt="Profila bilde" class="resize img-fluid mx-auto d-block image-padding fade-in rounded-img">

                            <h1 class="fade-in text-center ">Čau, esmu Nauris Putāns</h1>

                            <p class="fade-in text-center">Web izstrādātājs</p>

                            <p class="fade-in inspiration-text box-color"><strong>Man ir 18 gadi. Mācos Rīgas Valsts
                                    tehnikumā par Programmēšanas tehniķi (3.kurss). Brīvajā laika nodarbojos ar tautas
                                    dejām. Ar šo hobiju nodarbojos jau nepilnus 12 gadus. Esmu dzīves priecīgs cilvēks
                                    ar labu attieksmi pret darbu un apkartējiem. Daru visu neiespējamo dzivē, jo ticot sevī var lielus kalnus
                                    gāzt.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}