{% extends 'base.html.twig' %}

{% block body %}

    <!-- Section - Dejas attistība -->
    <section class="Dejas-attistiba">
        <div class="box">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="info-text">
                            <h1 class="fade-in align-self-center text-center text-md-center">Dejas attistība</h1><hr class="fade-in">

                            <p class="fade-in">Deja ir tikpat sena kā cilvēka prasme staigāt un skriet. Solis – dabīgs
                                pārvietošanās veids, ir dejas sākuma pamatelements. Deja veidojusies no daudzveidīgiem
                                žestiem un kustībām. Pirmatnējie cilvēki dejojot imitēja dzīvnieku un putnu kustības,
                                kā arī dabas spēku un varenību, vēju, sauli, ūdeni utt. Dejas attīstības pirmais posms
                                attiecināms uz cilvēka mēģinājumu pārvaldīt sava ķermeņa bezgalīgi daudzveidīgās kustību
                                iespējas. Otrais posms zīmīgs ar harmoniski variatīvu kustību saskaņotības kopumu visā
                                ķermenī, koordinēti  darbojoties rokām, kājām, galvai, kaklam un sejas mīmikai. Kustībām
                                pakāpeniski mainoties un pakļaujoties mākslinieciskai ietekmei, veidojās dejas māksla,
                                kuras galvenie izteiksmes līdzekļi ir noteiktā sistēmā balstītas kustības un pozas,
                                temps, ritms, kustību dinamika, izvērsts zīmējums, kompozīcija, ķermeņa izteiksmība un
                                mīmika. Dejai attīstoties kā sistēmiskam mākslas veidam, radās nepieciešamība apgūt
                                dejas tehniku. Sāka veidoties dažādas stilu un žanru deju skolas, deju akadēmijas,
                                attīstījās dejas izglītība.</p>

                            <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Vesture/sena_griekija.jpg') }}" alt="Sena griekija">

                            <p class="fade-in">Dejas atveidojumi seno civilizāciju tēlotājmākslā ir vienīgie avoti,
                                kas apstiprina dejas esamību kopš civilizācijas sākuma. Skulptūras un sienu zīmējumi
                                ļauj spriest par dejas raksturu. Deju apraksti kā būtiska sadzīves un rituālu sastāvdaļa
                                rodami gandrīz visu tautu svētajos rakstos, kā arī zīmējumos, keramikas izstrādājumos
                                u. c. vēsturiskās liecībās.</p>

                            <p class="fade-in inspiration-text box-color"><strong>Galvenais dejotāja uzdevums ir apgūt
                                savdabīgo atdarināšanas un attēlošanas, domu izteikšanas mākslu…Dejotāja augstākai
                                uzslavai jābūt: „Viņš zināja visu, ko vajadzēja, un mācēja to izskaidrot”. Šajā gadījumā
                                ar „izskaidrošanu” es saprotu figūras izteiksmību.  - Samosatas Lukiāns</strong></p>

                            <p class="fade-in">Arheoloģiskās liecības norāda uz 9000 gadu veciem zīmējumiem akmens
                                laikmeta apmetnēs Bhimbetkā, Indijā, un ēģiptiešu kapeņu zīmējumiem ar dejojošām
                                figūrām, kas datēti ar 3300. p. m. ē. Norādes uz deju vērojamas arī tagadējās Francijas
                                un Spānijas teritorijā, vēlā paleolīta klinšu alu sienu gravējumos un zīmējumos, kas
                                attiecināmi uz 9. gt. p. m. ē. Attēli liecina, ka dejotāju kustības bijušas saistītas
                                ar tā laika nodarbošanos un reliģiskiem rituāliem. Dejotāju attēli redzami uz Kobustānas
                                klinšu alu sienām Azerbaidžānā. Kazahstānā ziemeļrietumos no Almati Tamgalas aizā
                                atklātais templis attiecināms uz 2. gt. p. m. ē. Indijā manuskriptā Nātjašāstra
                                (sanskritā नाट्य शास्त्र, Nāṭyaśāstra, "Dejas/drāmas mācīšana", 4. gs. p. m. ē.) rodams
                                tradicionālās indiešu dejas apraksts. 1. gt. p. m. ē. Indijā daudzos tekstos, kas
                                saistīti ar ikdienas dzīvi, deja minēta par neatņemamu ikdienas sastāvdaļu. Šis
                                senindiešu muzikologa Bharatas Muni (sanskritā भरत मुनि, Bharata Muni) darbs ir viens no
                                agrākajiem uz drāmu balstītajiem tekstiem,  kurā ir norādes par dejas lielo nozīmi
                                Indijas kultūrā. Šajos senajos rakstos izstrādāti dažādi roku žesti (mudras), kāju
                                kustības u. c. Šrilankas deju pirmsākumi tiek datēti ar 4. gs. p. m. ē., kad to
                                apdzīvoja senās aborigēnu ciltis. Klasiskajām Šrilankas dejām ir zināma līdzība ar
                                aborigēniem raksturīgo ļoti attīstīto ritmu. Šrilankā ritma pamatā ir šķīvju
                                (thalampata) sišana.</p>

                            <p class="fade-in">Grieķu deja (χορός) minēta Senās Romas politiskā darbinieka, oratora un
                                filozofa Marka Tullija Cicerona (Marcus Tullius Cicero), Senās Grieķijas filozofa un
                                matemātiķa Platona (Πλάτων), sengrieķu zinātnieka un filozofa Aristoteļa (Ἀριστοτέλης)
                                un grieķu satīriķa Samosatas Lukiāna (Λουκιανός ὁ Σαμοσατεύς) darbos. Gan Bībelē, gan
                                Talmudā ir atsauces uz vairākiem notikumiem, kas saistīti ar deju un tajos aprakstītas
                                vairāk nekā 30 dažādas deju epizodes. Primitīvā deja Senajā Ķīnā tika asociēta ar
                                burvestībām un šamaniskiem rituāliem. Pastāv uzskats, ka sākotnēji deja bija sazināšanās
                                veids. Arī pirms rakstības rašanās, deju izmantoja par metodi, kā nodot paaudzēm tautas
                                tradīcijas un kultūru. Eiropā viens no pirmajiem darbiem, kurā aprakstīta deja ir
                                sengrieķu dzejnieka Homēra (Ὅμηρος) eposs "Iliāda” (Ἰλιάς). Antīkie grieķi pārvērta
                                dejas mākslu sistēmā, kurā skatāmas dažādas kaislības, piemēram, fūriju deja. Deju
                                izmantoja arī transa stāvokļa radīšanai un dziedniecībā.</p>

                            <img class="img-fluid rounded mx-auto d-block image-padding fade-in" src="{{ asset('images/Vesture/sena_griekija_2.jpg') }}" alt="Sena griekija">

                            <p class="fade-in">Kopš senatnes dejas māksla tika uztverta par dievišķu izpausmi. Senajā
                                Grieķijā dejas aizbildne bija viena no dieva Apolona mūzām Terpsihora. Indijas dejas
                                mākslu pārzināja hinduisma dievs Šiva, kurš bieži tiek attēlots kā Nataradža (Dejotāju
                                ķēniņš) dejotāja pozā uz nezināšanas dēmona Apasmara tēla. Tādējādi tiek parādīts, ka
                                Šiva dejojot sagrauj nezināšanas un ignorances principu un rada Visumu no
                                jauna.</p><hr class="fade-in">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
